# appveyor.yml reference see https://www.appveyor.com/docs/appveyor-yml/

#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
version: 3.1.{build}

#---------------------------------#
#    environment configuration    #
#---------------------------------#

# Build worker image (VM template)
image: Visual Studio 2019

# build cache to preserve files/folders between builds
cache:
  - C:\Users\appveyor\.m2

# scripts that run after cloning repository
install:
  - cmd: SET JDK_HOME=C:\Program Files\Java\jdk11
  - cmd: SET JAVA_HOME=C:\Program Files\Java\jdk11
  - cmd: mvn versions:set -DnewVersion=%APPVEYOR_BUILD_VERSION%

# .NET Core project files patching
dotnet_csproj:
  patch: true
  file: '**\*.csproj;**\*.props;**\*.fsproj;**\*.xml'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'

#---------------------------------#
#       build configuration       #
#---------------------------------#

# build Configuration, i.e. Debug, Release, etc.
configuration: Release

# Build settings, not to be confused with "before_build" and "after_build".
# "project" is relative to the original build directory and not influenced by directory changes in "before_build".
#build:

# scripts to run before build
#before_build:

# to run your custom scripts instead of automatic MSBuild
build_script:
  - mvn -Dconfiguration=%CONFIGURATION% clean install
  - mvn -Dconfiguration=%CONFIGURATION% -P sonar -Dsonar.branch.name=%APPVEYOR_REPO_BRANCH% sonar:sonar

# scripts to run after build (working directory and environment changes are persisted from the previous steps)
#after_build:

# scripts to run *after* solution is built and *before* automatic packaging occurs (web apps, NuGet packages, Azure Cloud Services)
#before_package:

#---------------------------------#
#       tests configuration       #
#---------------------------------#

# to run tests against only selected assemblies and/or categories
#test:

# scripts to run before tests (working directory and environment changes are persisted from the previous steps such as "before_build")
#before_test:

# to run your custom scripts instead of automatic tests
#test_script:

# scripts to run after tests
after_test:
  - ps: |
      $url = "https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)"
      $wc = New-Object 'System.Net.WebClient'
      $files = Get-ChildItem -Recurse .\TEST-*.xml
      foreach ($f in $files) {
        $wc.UploadFile($url, (Resolve-Path $f))
      }

# to disable automatic tests
#test: off

#---------------------------------#
#      artifacts configuration    #
#---------------------------------#

artifacts:
  - path: 'sonar-communityfsharp-plugin/target/*.jar'
    name: sonar-communityfsharp-plugin
  - path: 'FsSonarRunner/FsSonarRunnerCore/bin/Release/*.nupkg'
    name: FsSonarRunnerCore

#---------------------------------#
#     deployment configuration    #
#---------------------------------#
deploy:
  provider: NuGet
    on:
      branch: master  
  api_key:
    secure: K543ay4YetoE5FnmT4u5qd7J/5qi/C7THCrXY3A5BkKvVgjRSO96Kz6EsgB0Rui3
  skip_symbols: true
      
#---------------------------------#
#        global handlers          #
#---------------------------------#

# on successful build
#on_success:

# on build failure
#on_failure:

# after build failure or success
#on_finish:

#---------------------------------#
#         notifications           #
#---------------------------------#
