<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FParsec" version="1.0.2" targetFramework="net45" />
  <package id="FSharp.Compiler.Service" version="8.0.0" targetFramework="net45" />
  <package id="FSharp.Compiler.Service.ProjectCracker" version="8.0.0" targetFramework="net45" />
  <package id="FSharp.Data" version="2.3.2" targetFramework="net45" />
  <package id="FSharpLint.Core" version="0.4.12" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.3.0" targetFramework="net45" />
  <package id="System.Reflection.Metadata" version="1.4.1" targetFramework="net45" />
</packages>