<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FParsec" version="1.0.2" targetFramework="net45" />
  <package id="FSharp.Compiler.Service" version="13.0.0" targetFramework="net45" />
  <package id="FSharp.Compiler.Service.ProjectCracker" version="13.0.0" targetFramework="net45" />
  <package id="FSharp.Data" version="2.3.3" targetFramework="net45" />
  <package id="FSharpLint.Core" version="0.7.6" targetFramework="net45" />
  <package id="NUnit" version="3.7.1" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.3.1" targetFramework="net45" />
  <package id="System.Reflection.Metadata" version="1.4.2" targetFramework="net45" />
</packages>